/node_modules
/public/hot
/coverage
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/data
cacert-2021-10-26.pem

.env.backup2018-04-26
unicredit.sql
unocredit.sql
add.zip