.card-hover:hover .bid-component {
    transition-delay: 2s ease-in;
    display: inline-block;
}

.feature-badge {
    position: relative;
    left: 150px;
    top: -33px;
}

.display-none {
    display: none;
}

.card-hover {
    cursor: pointer;
}

.bid-component {
    position: absolute;
    right: 1em;
    top: 0.4em;
    display: none
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .bid-component {
        position: absolute;
        right: .5em;
        top: 17em;
        display: inline-block;
    }
}